<%= link_to product_path(product), class: 'product', 'data-turbo-frame': '_top'  do %>
     <h2><%= product.title %></h2>
  <% end %>
  <span><%= product.price %>$</span>
  <%= image_tag product.photo, width: 100 if product.photo.attached? %>
